/* header  */
#banner {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/banner-image.png");
  height: 600px;
  margin-top: 50px;
  border-radius: 15px;
}
.banner-text h3 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
}
.banner-text h1 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}
.banner-text {
  width: 632px;
  margin: 0 auto;
  padding-top: 120px;
}
.banner-area {
  max-width: 1320px;
  margin: 0 auto;
  margin-top: 120px;
}
/* main-section  */
/* section-1  */
.offer-area {
  height: 900px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.greeting-img {
  margin: 10px auto;
  width: 700px;
  height: 500px;
}
.offer {
  color: #f00;
  text-align: center;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0;
}
.offer-1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.offer-2 {
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}
/* section-2  */
/* party  */
#party-section {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Vectorrr.png");
  height: 600px;
  border-radius: 15px;
}
.party-image {
  display: flex;
  justify-content: center;
  padding: 100px;
}
.party-h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}
.party-paragraph {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.button {
  padding-top: 50px;
  padding-left: 20px;
  border: none;
  background: none;
  font-weight: 1000;
  text-transform: uppercase;
}
.button a {
  text-decoration: none;
  font-size: 20px;
  color: gold;
}
.party-img {
  display: flex;
  width: 319.83px;
  height: 464.662px;
  padding: 0.008px 0px 0px 0px;
}
/* section-3  */
/* information & join  */
#location {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  height: 482px;
  border-radius: 120px;
}
.information {
  text-align: center;
  padding: 100px;
}
.information h3 {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.color {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
}
.btn a {
  text-decoration: none;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  line-height: normal;
  text-transform: uppercase;
}
.btn {
  border-radius: 8px;
  background: #f00;
  border: none;
  height: 100px;
  width: 300px;
}
/* section-4  */
/* celibration  */
#poster {
  padding-top: 20px;
}
.poser-greating {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.frist-area {
  width: 400px;
}
.frist-area h2 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 15px;
}
.frist-area h1 {
  color: #070211;

  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
.frist-area p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.second-area-img {
  width: 463px;
  height: 463px;
  flex-shrink: 0;
  border-radius: 463px;
  border: 15px solid #f00;
}
.second-area-img img {
  padding-top: 50px;
}
.third-area-section h1 {
  color: #f00;

  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.third-area-section p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 350;
}
/* section-5   */
/* portfolio image-decoration  */
.portfolio-images-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.portfolio-header {
  width: 890px;
}
.portfolio-header p {
  color: rgba(58, 26, 119, 0.719);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.portfolio-header h3 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.portfolio-header h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}

/* final-section  */
/* subscribe-area  */
#subscribe-section {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  height: 600px;
}
.gmail-image {
  display: flex;
  justify-content: center;
}
.gmail-image {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  flex-shrink: 0;
}
.gmail-image-area h1 {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
.gmail-image-area p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  width: ;
}
.subscribe-box {
  padding-top: 100px;
  padding-bottom: 100px;
}
.sub-tf {
  text-align: center;
  padding-top: 20px;
}
/* footer-section  */
footer {
  height: 700px;
  background: #070211;
}
.footer-section {
  padding: 120px 140px;
}
.footer-t-top h2 {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}
.f-top-text h4 {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}
.footer-bottom h4 {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
}
.footer-mid {
  padding: 40px;
  display: flex;
  justify-content: center;
  gap: 25px;
}
